body{
    background-color: rgb(248, 224, 193);
}
.myMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
   
   

}


.card{

    img{
        height: 100px;
        width: 260px;
        padding-left: 50px;
        
      
       
       
    }

    p {
        padding: 0;
        margin: 0;
        text-align: center;
       
    }
}
